# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/

# IDE
.idea/

# SQLite database
*.sqlite
*.db

# Google service account credentials
service-account.json

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

ARCHITECTURE.md

test_emails_companies.csv